/* Include padding and border in the element's total width and height  */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* To ensure body takes up full window */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Background image and body font */
body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

/* Container set to size of deck */
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* Header font with extra weight */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #2e3d49;
    
}

/* Alignment of header text to center */
header {
    text-align: center;
}

/* Score table to appear after header */
table {
    max-width: 660px;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border: 1px dotted #02b3e4;
    border-radius: 5px;
    color: #02ccba;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;

}

/* Styles for the score panel of the table */

 td {
    color: #2e3d49;
    border: thin #aa7ecd dotted;
    text-align: center;
    height: 100%;
    font-size: 1em;
    font-weight: 600;
    width: 660px;
    margin-bottom: 10px;
}

/* Pointer hand for restart icon */
.scores .restart {
    cursor: pointer;
}

/* Styles for the deck of cards */

.deck {
    width: 660px;
    height: 660px;;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    -webkit-align-items: center; 
    margin: 1%;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-self: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

ul li {
    flex: 1 1 auto;
    display: flex;
    text-align: center;
    margin: 1%;
    
}

ul li i {
    flex: 1 1 auto;
    margin: 1%;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 35%;
}



/* Bootstrap modal styles */
.modal-header {
    background-color: #02ccba;
    color:white !important;
    font-size: 30px;
  }

  .modal-footer {
    background-color: #aa7ecd;
  }

/* Media for mobile device and tablet screens using Flexbox  */
@media all and (max-width: 625px) {
    .deck {
        min-width: 420px;
        flex-flow: wrap;
        width: 100%;
        padding: 1%;
        margin: 0%;
        text-align: center;
    }

    .deck .card {
        flex: 1 1 auto;
        width: 23%;
        padding-top: 9%;
        margin: 1%;
    }

    .deck .card.open {
        flex: 1 1 auto;
        width: 23%;
        padding-top: 9%;
        margin: 1%;
    }
    
    .deck .card.show {
        flex: 1 1 auto;
        width: 23%;
        padding-top: 9%;
        margin: 1%;
    }

    .deck .card.match {
        flex: 1 1 auto;
        width: 23%;
        padding-top: 9%;
        margin: 1%;
    }

    ul li {
        flex: 1 1 auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 1%;
        
    }

    ul li i {
        flex: 1 1 auto;
        display: flex;
        margin: 1%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
        margin-bottom: 100%;
    }
}